<section class="about">
   <div class="container">
      <h2 class="title"><span>О</span>театре</h2>
      <div class="about__inner">
         <div class="about__item-theater">
            <h3 class="about__item-title">Самый лучший театр СПБ</h3>
            <div class="about__item-text">Как свидетельствуют архивные документы, первое каменное здание Большого театра
               начали возводить в 1775 году по проекту Антонио Ринальди. В дальнейшем, после того как Ринальди упал с
               лесов и не мог лично наблюдать за ходом работ, Екатерина II поручила немецкому театральному декоратору и
               архитектору Людвигу Филиппу Тишбейну создать новый проект театра, который и был воплощён архитекторами Ф.
               В. фон Бауром и М. А. Деденёвым. Открытие его состоялось в 1783 году, хотя, основываясь на других
               свидетельствах, годом открытия можно считать 1784 год.</div>
         </div>
         <div class="about__item-numb">
            <h3 class="about__item-title">Немного о цифрах</h3>
            <div class="about__item-content">
               <div class="about__item-col">
                  <div class="about__item-icon">
                     <img src="images/in-armchair.svg" alt="">
                  </div>
                  <div class="about__item-descr">
                     <span>1600</span> посадочных мест
                  </div>
               </div>
               <div class="about__item-col">
                  <div class="about__item-icon">
                     <img src="images/in-theater.svg" alt="">
                  </div>
                  <div class="about__item-descr">
                     <span>350</span> лет истории
                  </div>
               </div>
            </div>
         </div>
         <div class="about__item-img">
            <img src="images/about.jpg" alt="">
         </div>
      </div>
   </div>
</section>