<section class="advantages">
    <div class="container">
        <div class="advantages__inner">
            <div class="advantages__column-years">
                <div class="advantages__year">2018</div>
                <div class="advantages__year">2019</div>
                <div class="advantages__year">2020</div>
            </div>
            <div class="advantages__column-content">
                <div class="advantages__stars">
                    <img class="advantages__icon" src="images/in-star.svg" alt="">
                    <img class="advantages__icon" src="images/in-star.svg" alt="">
                    <img class="advantages__icon" src="images/in-star.svg" alt="">
                    <img class="advantages__icon" src="images/in-star.svg" alt="">
                    <img class="advantages__icon" src="images/in-star.svg" alt="">
                </div>
                <div class="advantages__text">Лучший театр <br> по мнению театральных критиков Парижа</div>
            </div>
        </div>
    </div>
</section>