<header class="header">
   <div class=" header__inner container-fluid">
      <aside class="header-aside">
         <div class="header-aside__title-box">
            <h2 class="header-aside__title">контактная информация</h2>
         </div>
         <div class="header-aside__soc">
            <a class="header-aside__soc-item" href="./" target="_blank">
               <svg class="header-aside__soc-icon">
                  <use xlink:href="#icon-facebook"></use>
               </svg>
            </a>
            <a class="header-aside__soc-item" href="./" target="_blank">
               <svg class="header-aside__soc-icon">
                  <use xlink:href="#icon-instagram"></use>
               </svg>
            </a>
            <a class="header-aside__soc-item" href="./" target="_blank">
               <svg class="header-aside__soc-icon">
                  <use xlink:href="#icon-vk"></use>
               </svg>
            </a>
            <a class="header-aside__soc-item" href="./" target="_blank">
               <svg class="header-aside__soc-icon">
                  <use xlink:href="#icon-youtube"></use>
               </svg>
            </a>
         </div>
      </aside>
      <div class="header__top container">
         <div class="header__nav">
            <span class="header__menu-open"></span>
            <nav class="header__menu active">
               <span class="header__menu-close"></span>
               <a class="header__menu-link" href="./">Главная</a>
               <a class="header__menu-link" href="./">О театре</a>
               <a class="header__menu-link" href="./">Наши постановки</a>
               <a class="header__menu-link" href="./">Партнеры театра</a>
               <a class="header__menu-link" href="./">Контакты</a>
               <div class="header__menu-soc">
                  <a class="header-aside__soc-item--mobile" href="./" target="_blank">
                     <svg class="header-aside__soc-icon--fb">
                        <use xlink:href="#icon-facebook"></use>
                     </svg>
                  </a>
                  <a class="header-aside__soc-item--mobile" href="./" target="_blank">
                     <svg class="header-aside__soc-icon--inst">
                        <use xlink:href="#icon-instagram"></use>
                     </svg>
                  </a>
                  <a class="header-aside__soc-item--mobile" href="./" target="_blank">
                     <svg class="header-aside__soc-icon--youtube">
                        <use xlink:href="#icon-youtube"></use>
                     </svg>
                  </a>
                  <a class="header-aside__soc-item--mobile" href="./" target="_blank">
                     <svg class="header-aside__soc-icon--vk">
                        <use xlink:href="#icon-vk"></use>
                     </svg>
                  </a>
               </div>
            </nav>

            <div class="header__phone">
               <a class="header__phone-link" href="tel:+7 495 123-45-67">+7 495 123-45-67</a>
            </div>
         </div>
         <div class="header-slider">
            <div class="header-slider__inner">
               <div class="header-slider__item">
                  <div class="header-slider__item-content">
                     <div class="header-slider__item-info">
                        <h1 class="header-slider__title">Большой театр</h1>
                        <div class="header-slider__text">Большо́й теа́тр — петербургский театр, существовавший в
                           1784—1886
                           годах,
                           с 1886 года — Петербургская консерватория. Первое постоянное в Санкт-Петербурге,
                           крупнейшее в
                           России и одно из крупнейших театральных зданий в Европе XVIII.</div>
                        <a class="header-slider__btn" href="#">
                           <div class="button">афиша</div>
                        </a>
                     </div>
                     <div class="header-slider__item-img">
                        <img src="images/slider-poster.png" alt="">
                     </div>
                  </div>
               </div>
               <div class="header-slider__item">
                  <div class="header-slider__item-content">
                     <div class="header-slider__item-info">
                        <h1 class="header-slider__title">Большой театр</h1>
                        <div class="header-slider__text">Большо́й теа́тр — петербургский театр, существовавший в
                           1784—1886
                           годах,
                           с 1886 года — Петербургская консерватория. Первое постоянное в Санкт-Петербурге,
                           крупнейшее в
                           России и одно из крупнейших театральных зданий в Европе XVIII.</div>
                        <a class="header-slider__btn" href="#">
                           <div class="button">афиша</div>
                        </a>
                     </div>
                     <div class="header-slider__item-img">
                        <img src="images/slider-poster.png" alt="">
                     </div>
                  </div>
               </div>
               <div class="header-slider__item">
                  <div class="header-slider__item-content">
                     <div class="header-slider__item-info">
                        <h1 class="header-slider__title">Большой театр</h1>
                        <div class="header-slider__text">Большо́й теа́тр — петербургский театр, существовавший в
                           1784—1886
                           годах,
                           с 1886 года — Петербургская консерватория. Первое постоянное в Санкт-Петербурге,
                           крупнейшее в
                           России и одно из крупнейших театральных зданий в Европе XVIII.</div>
                        <a class="header-slider__btn" href="#">
                           <div class="button">афиша</div>
                        </a>
                     </div>
                     <div class="header-slider__item-img">
                        <img src="images/slider-poster.png" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>