<section class="maecenas">
    <h2 class="title"><span>стать</span>меценатом</h2>
    <div class="container">
        <div class="maecenas__inner">
            <div class="maecenas__contact-info">
                <div class="maecenas__column-phones">
                    <a class="maecenas__phone" href="tel:+7 (812) 123-45-55">+7 (812) 123-45-55</a>
                    <a class="maecenas__phone" href="tel:+7 (812) 123-45-55">+7 (812) 123-45-55</a>
                </div>
                <div class="maecenas__column-adresses">
                    <a class="maecenas__email" href="mailto:info@theater.ru">info@theater.ru</a>
                    <adress class=" maecenas__adress">г. санкт-петербург, невский 140</adress>
                </div>
            </div>
            <div class="maecenas__form">
                <form>
                    <div class="maecenas__form-columns">
                        <div class="maecenas__form-column">
                            <input type="text" placeholder="Имя">
                            <input type="text" placeholder="Телефон">
                        </div>
                        <div class="maecenas__form-column">
                            <input type="text" placeholder="Компания">
                            <input type="text" placeholder="E-mail">
                        </div>
                        <div class="maecenas__form-column-textarea">
                            <textarea type="text" placeholder="Сообщение"></textarea>
                        </div>
                    </div>
                </form>
                <div class="maecenas__note">* Ваши данные не будут переданы третьим лицам, 100% вероятность.
                    Конфиденциальность мы гарантируем, и защищаем персональные данные согласно законку ФЗ-52.
                </div>
                <a class="maecenas__btn" href="#">
                    <div class="button">отправить</div>
                </a>
            </div>

        </div>
    </div>
</section>