<section class="partners">
    <div class="container">
        <h2 class="title"><span>Партнеры</span>театра</h2>
        <div class="partners__rows">
            <div class="partners__row">
                <div class="partners__item">
                    <img class="partners__logo" src="images/in-logo.svg" alt="">
                </div>
                <div class="partners__item">
                    <img class="partners__logo" src="images/in-logo.svg" alt="">
                </div>
                <div class="partners__item">
                    <img class="partners__logo" src="images/in-logo.svg" alt="">
                </div>
                <div class="partners__item">
                    <img class="partners__logo" src="images/in-logo.svg" alt="">
                </div>

            </div>
            <div class="partners__row">
                <div class="partners__item">
                    <img class="partners__logo" src="images/in-logo.svg" alt="">
                </div>
                <div class="partners__item">
                    <img class="partners__logo" src="images/in-logo.svg" alt="">
                </div>
                <div class="partners__item">
                    <img class="partners__logo" src="images/in-logo.svg" alt="">
                </div>
                <div class="partners__item">
                    <img class="partners__logo" src="images/in-logo.svg" alt="">
                </div>

            </div>
        </div>
    </div>
</section>