<section class="perfomances">
   <h2 class="title"><span>Наши</span>постановки</h2>
   <div class="perfomances__inner container-fluid">
      <div class="perfomances__row">
         <div class="perfomances__item">
            <a class="perfomances__item-link" href="images/perfomance1.jpg">
               <img class="perfomances__item-img" src="images/perfomance1.jpg" alt="">
            </a>
            <a href="./" class="perfomances__item-circle">
               <div class="perfomances__item-zoom">
                  <img src="images/in-search.svg" alt="">
               </div>
            </a>
            <div class="performances__item-content">
               <div class="perfomances__name">Оскар 2020</div>
               <div class="perfomances__date">Сентябрь 2020</div>
            </div>
         </div>
         <div class="perfomances__item">
            <a class="perfomances__item-link" href="images/perfomance2.jpg">
               <img class="perfomances__item-img" src=" images/perfomance2.jpg" alt="">
            </a>
            <a href="./" class="perfomances__item-circle">
               <div class="perfomances__item-zoom">
                  <img src="images/in-search.svg" alt="">
               </div>
            </a>
            <div class="performances__item-content">
               <div class="perfomances__name">Золотой грамофон</div>
               <div class="perfomances__date">Август 2020</div>
            </div>
         </div>
         <div class="perfomances__item">
            <a class="perfomances__item-link" href="images/perfomance3.jpg">
               <img class="perfomances__item-img" src="images/perfomance3.jpg" alt="">
            </a>
            <a href="./" class="perfomances__item-circle">
               <div class="perfomances__item-zoom">
                  <img src="images/in-search.svg" alt="">
               </div>
            </a>
            <div class="performances__item-content">
               <div class="perfomances__name">Золотой грамофон</div>
               <div class="perfomances__date">Июль 2020</div>
            </div>
         </div>
         <div class="perfomances__item">
            <a class="perfomances__item-link" href="images/perfomance4.jpg">
               <img class="perfomances__item-img" src="images/perfomance4.jpg" alt="">
            </a>
            <a href="./" class="perfomances__item-circle">
               <div class="perfomances__item-zoom">
                  <img src="images/in-search.svg" alt="">
               </div>
            </a>
            <div class="performances__item-content">
               <div class="perfomances__name">Щелкунчик</div>
               <div class="perfomances__date">Май 2020</div>
            </div>
         </div>
      </div>
   </div>
</section>
<a href="https://source.unsplash.com/Hau6K6VP5vs/1500x1000" data-fancybox="images-preview" data-width="1500"
   data-height="1000" data-thumb="https://source.unsplash.com/Hau6K6VP5vs/240x160"></a>