.title {
	$self: &;
	text-transform: uppercase;
	text-align: center;
	font-size: 48px;
	line-height: 65px;
	letter-spacing: 0.1em;
	margin-bottom: 100px;
	font-weight: 300;

	@media (max-width: 768px) {
		margin-bottom: 60px;
	}

	@media (max-width: 480px) {
		margin-bottom: 30px;
		font-size: 27px;
	}

	span {
		color: $gold;
		margin-right: 15px;
	}
}
