.maecenas {
	$self: &;
	margin: 120px auto 80px;

	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap-reverse;
		padding: 0 15px;

		@media (max-width: 1280px) {
			justify-content: center;
		}

		@media (max-width: 960px) {
			max-width: 690px;
		}

		@media (max-width: 780px) {
			max-width: 509px;
		}
	}

	&__contact-info {
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin-right: 125px;
		max-width: 255px;

		@media (max-width: 1280px) {
			display: flex;
			justify-content: space-between;
			max-width: 730px;
			width: 100%;
			margin-top: 60px;
			margin-right: 0;
		}

		@media (max-width: 553px) {
			font-size: 12px;
		}

		@media (max-width: 460px) {
			flex-wrap: wrap;
			flex-direction: column;
			text-align: center;
			margin-top: 30px;
		}
	}

	&__phone, &__email {
		margin-right: 30px;
		margin-bottom: 25px;
		display: inline-block;
		width: 100%;
	}

	&__adress {
		font-style: normal;
		font-weight: 700;
	}

	&__column-adresses {
		@media (max-width: 1280px) {
			display: block;
			text-align: right;
		}

		@media (max-width: 460px) {
			text-align: center;
		}		
	}

	&__form {
		max-width: 730px;
		display: flex;
		justify-content: space-between;	
		flex-wrap: wrap;

		@media (max-width: 780px) {
			justify-content: center;
			text-align: center;
		}

		@media (max-width: 780px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__form-columns {
		display: flex;
		flex-wrap: wrap;

		@media (max-width: 780px) {
			max-width: 509px;
			justify-content: space-between;
		}

		@media (max-width: 580px) {
			justify-content: center;
		}
	}

	&__form-column input {
		width: 180px;
		margin-bottom: 30px;
		height: 35px;
	}

	&__form-column, &__form-column input {
		width: 180px;
		margin-right: 30px;

		@media (max-width: 780px) {
			margin-right: 0;		
			width: 230px;
		}

		@media (max-width: 580px) {	
			width: 100%;
		}
	}
	
	&__form-column input, &__form-column-textarea textarea {
		background-color: #444444;
		color: $gray;
		box-sizing: border-box;
		padding: 7px 15px;
		border: 1px solid #616161;
		outline: none;
	}

	&__form-column input::placeholder, &__form-column-textarea textarea::placeholder  {
		color: $gray;
		font-family: "Open sans", sans-serif;
		font-weight: 600;
		background: none;
	}

	&__form-column-textarea, &__form-column-textarea textarea {
		width: 310px;
		height: 100px;
		resize: none;
		
		@media (max-width: 960px) {
			width: 270px;
		}

		@media (max-width: 780px) {
			width: 100%;
		}

	}

	&__note {
		max-width: 390px;
		font-family: "Open sans", sans-serif;
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
		color: $gray;

		@media (max-width: 780px) {
			order: 1;
		}
	}

	&__btn {
		width: 190px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $gold;

		@media (max-width: 780px) {
			margin: 40px 0 30px;
		}
		
	}

}
